body{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #b4ebb4;
}
.page-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 1em;
}
.page-header a{
    display: block;
    padding:0.5em;
    text-decoration:none;
}
.page-header h4{
    padding-left: 1em;
    font-family: "Josefin Sans";
    font-size: 1.5em;
    color: #152715;
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    margin-left: 100px;
    margin-top: 50px;
}
.item {
    border: solid 1px;
    width: 300px;
    margin-top: 30px;
}
p{
    text-align: center;
    margin: 5%;
}
.buttons {
    background-color: rgb(180, 235, 180);
    color: rgb(21, 39, 21);
    border-style: hidden;
    font-family: "Open Sans";
    border-radius: 1em;
    padding: 0.5em;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button:hover {
    background-color: rgb(21, 39, 21);
    color: rgb(180, 235, 180);
}

#break {
    border-color: rgba(0, 128, 128, 0.247);
    border-bottom-style: solid;
    margin: 10% 10%;
    border-width: 1px ;
}

footer {
    margin-top: 10%;
    margin-bottom: 25%;
    text-align: center;
    background-color: rgba(180, 235, 180, 0.377);
    padding: 2%;
}

h1 {
    color: #2d522d;
    border-style: double;
    border-color: #b4ebb4;
    padding: 1em 0;
    background-color: rgba(255, 255, 255, 0.822);
}

#cart ul {
    list-style-type: none;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: 10%;
    margin-right: 10%;
    background-color: #15271510;

}
#cart li:nth-child(even) {
    text-align: right;

}


#cart li {
    margin: 3em;

}

ul button {
    background-color: rgb(180, 235, 180);
    color: rgb(21, 39, 21);
    border-style: hidden;
    font-family: "Open Sans";
    border-radius: 1em;
    padding: 0.5em;
}

ul input {
    border-style: hidden;
    line-height: 200%;
}

.emph, .item-emph {
    color: blueviolet;
}

.item-emph{
    font-style: italic;
}